body { background: #e1f5e9; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 39px; display: flex; }
.block-payment-0 { color: #899395; font-size: 15px; margin-bottom: 5px; }
.block-filter-1 { color: #e5eb7b; font-size: 14px; margin-bottom: 5px; }
.block-user-2 { color: #58efd7; font-size: 18px; margin-bottom: 5px; }
.block-search-3 { color: #a55897; font-size: 20px; margin-bottom: 5px; }
.block-config-4 { color: #1360ec; font-size: 14px; margin-bottom: 5px; }